[submodule "landscapes"]
	path = landscapes
	url = https://github.com/somewalls/landscapes.git
[submodule "abstract"]
	path = abstract
	url = https://github.com/somewalls/abstract.git
[submodule "anime"]
	path = anime
	url = https://github.com/somewalls/anime.git
